@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

button {
  border: 0;
  background-color: transparent;
  font-size: inherit;
  cursor: pointer;
}

input,
textarea {
  border: 0;
  font-family: inherit;
}

input:focus,
textarea:focus {
  outline: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.nav {
  width: 25%;
  min-width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 12px 24px;
  overflow-y: scroll;
}

.nav::-webkit-scrollbar {
  width: 4px;
}
.nav::-webkit-scrollbar-thumb {
  background-color: rgb(102, 102, 102, 0.2);
  border-radius: 8px;
}

.btn-new-note {
  width: 50px;
  font-size: 24px;
  height: 50px;
  background-color: rgb(46, 46, 46);
  color: white;
  border-radius: 6px;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  transition: transform 0.4s;
}
.btn-new-note:hover {
  transform: rotate(180deg);
}

.notes-template {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-out;
  cursor: pointer;
}

.notes-template.active {
  outline: 1px solid blue;
}

.notes-template.active {
  outline: 4px solid rgb(5, 5, 5);
}

.notes-template:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.notes-template.dlt--note {
  transform: translateX(-100%) translateY(-100%);
  /* transform: translateX(-500px); */
  opacity: 0;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notes-template-title {
  font-size: 18px;
  font-weight: 600;
}

.notes-template-time {
  font-size: 12px;
}

.btn--color {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.btn--dlt:hover {
  color: rgb(255, 0, 0);
}
.btn--edit:hover {
  color: rgb(132, 0, 255);
}

.btn--color.active {
  outline: 2px solid rgb(255, 255, 255);
}

.note-container {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.input--note-title {
  font-size: 32px;
  font-weight: 600;
  padding: 12px 72px 12px 12px;
}

.input--note-content {
  resize: none;
  flex-grow: 1;
  font-size: 18px;
  padding: 0px 72px 0px 12px;
}
