@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

button {
  border: 0;
  background-color: transparent;
  font-size: inherit;
  cursor: pointer;
}

input,
textarea {
  border: 0;
  font-family: inherit;
  background-color: inherit;
  color: inherit;
}

input:focus,
textarea:focus {
  outline: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 25%;
  min-width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 12px 24px;
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  width: 4px;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: #66666633;
}

.btn--add-note {
  width: 50px;
  height: 50px;
  font-size: 24px;
  border-radius: 50%;
  background-color: #2e2e2e;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: transform 0.4s;
}
.btn--add-note:hover {
  transform: rotate(90deg);
}

.sidebar_note-card_btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar_note-card_btn-container button:hover {
  transform: scale(1.1);
}

.sidebar_note-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 1px 6px #00000033;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.sidebar_note-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 16px #00000033;
}

.sidebar_note-card.active {
  transform: translateX(14px);
}

.sidebar_note-card.dlt--note {
  transform: translateX(-100%) translateY(-100%);
  opacity: 0;
}

.sidebar_note-card-title {
  font-size: 18px;
  font-weight: 600;
}

.sidebar_note-card-time {
  font-size: 12px;
}

.btn--note-card-color {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.btn--note-card-color.active {
  outline: 2px solid rgb(231, 231, 231);
}

.input-note-container {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.input--note-title {
  font-size: 32px;
  font-weight: 600;
  padding: 12px 72px 12px 12px;
}

.input--note-content {
  resize: none;
  flex-grow: 1;
  font-size: 18px;
  padding: 0px 72px 0px 12px;
}
